---
import Layout from '../layouts/Layout.astro'
import HeroCard from '../components/HeroCard.astro'
import Label from '../components/Label.astro'
---

<Layout>
    <HeroCard headerText="hey">
        <div>
            <Label class="yellow" labelText="Hey" />
        </div>
    </HeroCard>
</Layout>

