---
const {className, id, amountNumber, amountText} = Astro.props
---

<div class={className} id={id}>
    <h1>{amountNumber}+</h1>
    <p>{amountText}</p>
</div>

<style>
    div
    {
        font-family: 'Cabin';
        color: #181818;
        display: flex;
        flex-direction: column;
        padding-inline: max(1rem, 50% - var(--container-width) / 2);
        align-items: center;
        font-weight: 700;
        line-height: 116%;
    }
    h1
    {
        font-size: 50px;
    }

    p
    {
        font-size: 18px;
    }
</style>