---
const {className, href, buttonText} = Astro.props
---

<a href={href} class={className}>
    {buttonText}
</a>

<style>
    .btn
    {
        font-family: 'Cabin', sans-serif;
        width: fit-content;
    }

    /* Book Appointment Button */
    .book-appointment-btn
    {
        padding: 16px 37px;
        border: 2px solid var(--book-appointment-btn-border-color);
        border-radius: calc(var(--base-border-radius) * 4.2);
        color: var(--book-appointment-btn-color);
        border: 2px solid var(--book-appointment-btn-border-color);
        background-color: var(--book-appointment-btn-background-color);
        transition: color .15s ease-in, background .15s ease-in;
    }

    /* Call Button */
    .call-btn
    {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 8px 41px 8px 10px;
        color: var(--call-btn-color);
        background-color: var(--call-btn-background-color);
    }

    /* Go To Dashboard Button */
    .go-to-dashboard-btn
    {
    
        padding: 15px 56px;
        border-radius: calc(var(--base-border-radius) * 4.2);
        color: var(--go-to-dashboard-btn-color);
        background-color: var(--go-to-dashboard-btn-background-color);
    }

    /* Subscribe Button */
    .subscribe-btn
    {
        
        padding: 15px 45px;
        border-radius: calc(var(--base-border-radius) * 4.2);
        color: var(--subscribe-btn-color);
        background-color: var(--subscribe-btn-background-color);
    }

    /* Login Button */
    .login-btn
    {
        padding: 4px 16px;
        border-radius: calc(var(--base-border-radius) * 4.2);
        color: var(--login-btn-color);
        background-color: var(--login-btn-background-color);
        font-size: var(--login-btn-font-size);
        font-weight: var(--login-btn-font-weight);
    }
</style>