---
import Section from './Section.astro'
import Card from './Card.astro'
import Label from './Label.astro'
import Button from './Button.astro'
import { Icon } from 'astro-icon/components'
---

<Section class="section values-and-principles-section" id="values-and-principles_section">
    <div class="values-and-principles-section-wrapper">

        <div class="top">
            <div class="descripttion">
                <header>
                    <Label class="yellow" labelText="Growing with our clients"/>
                    <h2>Our core values & principles</h2>
                </header>
                <p>
                    Capitalize on low hanging fruit to identify a ballpark value added activity beta test. Override the digital divide with additional from DevOps.                </p>
            </div>

            <div>
                <Button href="#" class="btn get-in-touch-btn" buttonText="Get In Touch" />
            </div>
        </div>


        <div class="bottom">
            <div class="container values-and-principles-cards-container">

                <Card class="values-and-principles-card">
                    <div class="values-and-principles-card-wrapper">

                        <Icon name="fa6-solid:lightbulb" class="icon table-icon"/>

                        <header>
                            <h3>Creative Ideas</h4>     
                        </header>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget accumsan augue Donec aliquam.
                        </p>

                        <a href="#" class="btn read-more-btn">
                            <span>Read More</span> <Icon name="fa6-solid:arrow-right" /> 
                        </a>
                    </div>
                </Card>

                <Card class="values-and-principles-card">
                    <div class="values-and-principles-card-wrapper">

                        <Icon name="fa6-solid:chart-line" class="icon table-icon"/>

                        <header>
                            <h3>Best Features</h4>     
                        </header>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>

                        <a href="#" class="btn read-more-btn">
                            <span>Read More</span> <Icon name="fa6-solid:arrow-right" /> 
                        </a>
                    </div>
                </Card>

                <Card class="values-and-principles-card">
                    <div class="values-and-principles-card-wrapper">

                        <Icon name="fa6-solid:earth-europe" class="icon bank-icon"/>

                        <header>
                            <h3>Experience</h4>     
                        </header>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget accumsan augue Donec aliquam.
                        </p>

                        <a href="#" class="btn read-more-btn">
                            <span>Read More</span> <Icon name="fa6-solid:arrow-right" /> 
                        </a>
                    </div>
                </Card>

                <Card class="values-and-principles-card">
                    <div class="values-and-principles-card-wrapper">

                        <Icon name="fa6-solid:gear" class="icon dollar-sack-icon"/>

                        <header>
                            <h3>Easy Solutions</h4>     
                        </header>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>

                        <a href="#" class="btn read-more-btn">
                            <span>Read More</span> <Icon name="fa6-solid:arrow-right" /> 
                        </a>
                    </div>
                </Card>
            </div>
        </div>
    </div>
</Section>

<style>
    .values-and-principles-section-wrapper
    {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 800px;
        background-color: #181818;
        padding-top: 150px;

        .top
        {
            display: flex;
            justify-content: space-between;
            padding: 0 150px;
            align-items: end;
            
            & .get-in-touch-btn
            {
                padding: 10px 15px;
                border-radius: calc(var(--base-border-radius) * 5);
            }

            & h2
            {
                margin-top: 17px;
            }

            & p
            {
                color: #fff;
                margin-top: 30px;
            }

            & .icon
            {
                font-size: 4rem;
            }

            & header h2
            {
                color: #fff;
                font-size: calc(var(--heading-two-font-size) * 2);
            }
        }

        & p
        {
            max-width: 65ch;
        }

        

        & .bottom
        {
            padding: 0 100px;
        }

        & .bottom .container.values-and-principles-cards-container
        {
            display: flex;
            justify-content: center;
            align-items: baseline;
        }

        & .bottom .values-and-principles-card-wrapper
        {
            background-color: #ebebeb;
            border-radius: calc(var(--base-border-radius) * 2);
            padding: 44px 35px;
            height: fit-content;
        }

               

        & .bottom .values-and-principles-card-wrapper .icon
        {
            width: 34px;
            height: 26px;
        }

        & .bottom .values-and-principles-card-wrapper header
        {
            margin: 24px 0 10px 0;
        }


        & .bottom .values-and-principles-card-wrapper p
        {
            margin: 20px 0;
        }

    }
</style>