---
const {percentage, counterText} = Astro.props
---

<article>
    <div class="counter-container" id="counter_container" style=`--percentage: ${percentage}`>
        <div class="counter"></div>
        <h2>{percentage}%</h2>
    </div>
    <h3>{counterText}</h3>
</article>

<style>
    @property --percent
    {
        syntax: "<percentage>";
        inherits: true;
        initial-value: 0%;
    }

    article
    {
        text-align: center;
        
        & h3
        {
            margin-top: 20px;
        }
    }

    .counter-container
    {
        --_offset-pos: 5px;
        --_offset-distance: calc(var(--percentage) * 1%);

        display: grid;
        place-content: center;
        animation: --pie 3s linear infinite;
        border: var(--_offset-pos) solid transparent;
        background:
            linear-gradient(#fff, #fff) padding-box,
            conic-gradient(red var(--_offset-distance), blue 0) border-box;
        position: relative;
        aspect-ratio: 1;
        width: 150px;

        border-radius: 1e5px;
        margin-inline: auto;
        
        .counter
        {
            aspect-ratio: 1;
            border-radius: 99px;
            width: 20px;
            background: #181818;
            position: absolute;
            offset-path: border-box;
            offset-distance: var(--_offset-distance);
            offset-anchor: 50% calc(50% - var(--offset-pos) / 2);
            border: 5px solid #fff;
        }
    }

    /* @keyframes --pie
    {
        to
        {
            --percent: 85%;
        }
    } */
</style>
