---
const {className, id} = Astro.props
---

<section class={className} id={id}>
    <div>
        <slot/>
    </div>
</section>

<style>
    section 
    {
        /* width: 1200px; */
        /* padding: 3rem max(1rem, 50% - var(--content-width) / 2); */
    }
</style>